<mat-dialog-content>
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" />
      <input matEndDate placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select>
      @for (category of categories; track category) {
      <mat-option [value]="category.value">{{ category.title }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select>
      @for (type of types; track type) {
      <mat-option [value]="type.value">{{ type.title }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="discard()">Cancel</button>
  <button mat-raised-button (click)="apply()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
