.wrapper {
  background: #ecececdb;
}

.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.mat-warn {
  background-color: #ff4d4d !important;
}

.mat-warn[disabled="true"] {
  background-color: grey !important;
}