<div class="dashboard_wrapper">
  <div class="main_info">
    <nav>
      <button mat-fab color="custom" routerLink="/dashboard/home"><mat-icon>home</mat-icon></button>
      <button mat-fab color="custom" routerLink="/dashboard/statistics"><mat-icon> bar_chart</mat-icon></button>
      <button mat-fab color="custom" routerLink="/dashboard/settings"><mat-icon>settings</mat-icon></button>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <div class="additional_info">
    <app-transactions></app-transactions>
    <app-history></app-history>
  </div>
</div>
